<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de aluno</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'cadastro_professor' %}">Cadastro professor</a>
        </li>
     </ul>
    <div class="formulario">
        <h2>Grade Curricular: </h2>
        {{ form_gc.non_field_errors }}
        <form name="cadastro_gradeCurricular" id="cadastro_gradeCurricular" method="POST">
            {% csrf_token %}
            {% for field in form_gc %}
            <p>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </p>
            {% endfor %}
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>