{% extends 'base.html' %}
{% block title %}Contato{% endblock %}
{% block content %}
{% load static %}
        <div class="body">
            <div class="formulario">
                <form id="contanto" >
                    <div class="row">
                        <label for="nome">Nome:</label><br />
                        <input id="nome" name="nome"  type="text"  /><br />
                    <label for="assunto">Assunto :<br/>
                        <select name="assunto">
                            <option value="prof">Professores</option>
                            <option value="falta">Presença</option>
                            <option value="cursos">Cursos</option>
                            <option value="documentações">Documentações</option>
                        </select>
                        <label for="email"><br> Email:</label><br />
                        <input id="email" name="email" type="text"  /><br />
                        <label for="mensagem"> Mensagem:</label><br />
                        <textarea id="mensagem" type="text" name="mensagem"> </textarea>
                        <button type="reset">Limpar</button>
                        <button type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
            <br />
        </div>
{% endblock %}
